<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/books"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/books_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.IBooks"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainMenu"></activity>
        <activity android:name=".ChooseOne"></activity>
        <activity android:name=".owner.BookOwnerLogin"></activity>
        <activity android:name=".owner.BookOwnerRegistration"></activity>
        <activity android:name=".ForgotPassword"></activity>
        <activity android:name=".owner.MainHome"></activity>
        <activity android:name=".delivery.DeliveryRegistration"> </activity>
        <activity android:name=".delivery.DeliveryLogin"></activity>
        <activity android:name=".delivery.DeliveryMain"></activity>



    </application>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

</manifest>